
    
  .flex-container {
    display: flex;
    background-color: blue;
    background-size:cover;
    align-items:stretch;
  }
  .flex-container > div {
    background-color: pink;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    height:auto
  }
  
  .flex-container2 > div {
    background-color: pink;
    width: 100px;
    margin: 10px; 
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-container2 {
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
    align-items:stretch;
  }
.flex-container2 {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    align-content:space-between;
}
.flex-container3 > div {
  background-color: pink;
  width: 100px;
  margin: 10px; 
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container3 {
  display: flex;
  background-color: blue;
  justify-content: center;
  align-items:stretch;
}
